<table style="width: 100%">
  <thead>
    <tr>
      <th>TODO</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td style="width: 20%">
        TODO
      </td>
      <td style="width: 80%">
        TODO
      </td>
    </tr>
  </tbody>
</table>
