<% html_title(l(:label_settings), l(:label_default_issues)) -%>

<p>
  <label><%= l(:label_default_issues_show_in_top_menu) %></label>
  <%= hidden_field_tag 'settings[show_in_top_menu]', 0, :id => nil %>
  <%= check_box_tag 'settings[show_in_top_menu]', 1, @settings[:show_in_top_menu] %>
</p>

<!--<p>
  <label><%#= l(:label_default_issues_show_in_app_menu) %></label>
  <%#= hidden_field_tag 'settings[show_in_app_menu]', 0, :id => nil %>
  <%#= check_box_tag 'settings[show_in_app_menu]', 1, @settings[:show_in_app_menu] %>
</p>-->
