<h1>Editing Default Issue</h1>

<%= labelled_form_for @default_issue,
            :as => :default_issue,
            :url => {:action => 'update', :id => @default_issue.id},
            :html => {:method => :put } do |f| %>
<%= render partial: 'form', locals: {f: f} %> 
<% end %>

<% include_calendar_headers_tags %>

<%= link_to 'Show', project_default_issue_path(@project, @default_issue) %> |
<%= link_to 'Back', project_default_issues_path %>